* {
    background: rgba(21, 51, 73, 0.7);
    primary: #9cd0ff;
    primary-fixed: #cde5ff;
    primary-fixed-dim: #93ccff;
    on-primary: #003351;
    on-primary-fixed: #001d31;
    on-primary-fixed-variant: #004b74;
    primary-container: #64b6f7;
    on-primary-container: #00263f;
    secondary: #adcae6;
    secondary-fixed: #cde5ff;
    secondary-fixed-dim: #adcae6;
    on-secondary: #153349;
    on-secondary-fixed: #001d31;
    on-secondary-fixed-variant: #2d4961;
    secondary-container: #2d4961;
    on-secondary-container: #c8e3ff;
    tertiary: #eeb7ff;
    tertiary-fixed: #f9d8ff;
    tertiary-fixed-dim: #edb1ff;
    on-tertiary: #4c1562;
    on-tertiary-fixed: #320046;
    on-tertiary-fixed-variant: #652f7b;
    tertiary-container: #d798ec;
    on-tertiary-container: #3f0355;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #101418;
    on-surface: #e0e2e8;
    on-surface-variant: #bfc7d1;
    outline: #8a919b;
    outline-variant: #404850;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e0e2e8;
    inverse-on-surface: #2d3135;
    inverse-primary: #006398;
    surface-dim: #101418;
    surface-bright: #36393e;
    surface-container-lowest: #0b0f12;
    surface-container-low: #181c20;
    surface-container: #1c2024;
    surface-container-high: #272a2f;
    surface-container-highest: #313539;
}
