* {
    background: rgba(1, 58, 0, 0.7);
    primary: #eaffde;
    primary-fixed: #77ff61;
    primary-fixed-dim: #02e600;
    on-primary: #013a00;
    on-primary-fixed: #002200;
    on-primary-fixed-variant: #015300;
    primary-container: #00ff00;
    on-primary-container: #015000;
    secondary: #68e054;
    secondary-fixed: #84fd6d;
    secondary-fixed-dim: #68e054;
    on-secondary: #013a00;
    on-secondary-fixed: #002200;
    on-secondary-fixed-variant: #015300;
    secondary-container: #2ca720;
    on-secondary-container: #000000;
    tertiary: #e5ffef;
    tertiary-fixed: #43ffbb;
    tertiary-fixed-dim: #00e1a1;
    on-tertiary: #003825;
    on-tertiary-fixed: #002114;
    on-tertiary-fixed-variant: #005138;
    tertiary-container: #00fab3;
    on-tertiary-container: #004f36;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0c1609;
    on-surface: #d9e7d0;
    on-surface-variant: #b9ccaf;
    outline: #84967c;
    outline-variant: #3b4b35;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #d9e7d0;
    inverse-on-surface: #283324;
    inverse-primary: #026e00;
    surface-dim: #0c1609;
    surface-bright: #313c2c;
    surface-container-lowest: #071105;
    surface-container-low: #141e10;
    surface-container: #182214;
    surface-container-high: #222d1e;
    surface-container-highest: #2d3828;
}
